@page "/search"
@namespace SearchComponent
@inject IHttpClientFactory _clientFactory
@inject NavigationManager NavigationManager
@inject IMovieService movieService

@using SEP6.Data;
@using SEP6.Models


<AuthorizeView>
    <Authorized>
<div class="search-container">
    <input type="text" placeholder="Search.." @bind-value="searchedMovie" />
    <div style="color:red">@errorMessage</div>
    <button type="submit" @onclick="SearchMovies"><i class="">search</i></button>
</div>
    </Authorized>
</AuthorizeView>
@code {
    [Parameter]
    public string searchedMovie { get; set; }
    public string errorMessage;
    //public MovieService movieService { get; set; }
    public Movies movies { get; set; }

    public async Task SearchMovies()
    {

        NavigationManager.NavigateTo("/searchresults");

    }
}