@page "/search"
@namespace SearchComponent
@inject IHttpClientFactory _clientFactory
@inject NavigationManager NavigationManager
@inject IMovieService movieService
@inject IJSRuntime JsRuntime

@using Newtonsoft.Json;
@using SEP6.Data;
@using SEP6.Models

<style>
    .search-input{
        border-radius:6px;
    }
    .search-button{
        border-radius: 6px;
    }
</style>

<AuthorizeView>
    <Authorized>
<div class="search-container">
            <input class="search-input" type="text" placeholder="Search.." @bind-value="searchedMovie" @onkeyup="HandleKeyUp" />
            <button type="submit" class="search-button" @onclick="SearchMovies"><i>search</i></button>
            <div style="color:red">@errorMessage</div>
</div>
    </Authorized>
</AuthorizeView>
@code {
    [Parameter]
    public string searchedMovie { get; set; }
    public string errorMessage;
    public Movies movies { get; set; }
    public List<Movies> moviesList { get; set; }
    public OMDBResult posters { get; set; }


    public async Task SearchMovies()
    {
        moviesList = await movieService.IndexMovie(searchedMovie);
        var movieIds = moviesList.Select(movie => movie.Id).ToList();
        var moviesJson = System.Web.HttpUtility.UrlEncode(JsonConvert.SerializeObject(moviesList));
        NavigationManager.NavigateTo($"/searchresults?movies={moviesJson}");
    }

    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchMovies();
        }
    }
}