@using SEP6.Authentication;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavgMan



<div class="top-row ps-3 navbar navbar-dark">
    <div class="logo-title-container">
    <img src="/img/favpng_movie-logo.png" alt="Movies 4 U" class="navbar-logo" />
    <a class="navbar-brand" href="index">Movies4U</a>

    </div>
    <div class="container-fluid">
        
        
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favorites">
                        <span class="fa fa-heart" aria-hidden="true"></span>
                        <span class="favorites-text">Favorites</span>
                    </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
    </nav>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
