@page "/index"
@using SEP6.Data;
@using SEP6.Models;
@using SEP6.Pages.Components
@inject HttpClient httpClient
@inject IMovieService movieService;


<h3>MOVIES</h3>

@if (moviesList != null && moviesList.Search != null)
{
    @foreach (var movie in moviesList.Search)
    {
        <div class="card">
            <img src="@movie.Poster" alt="Movie Poster" />
            <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                <p class="card-text">@movie.Type</p>
            </div>
        </div>
    }
}


@code {
    
    public OMDBResult moviesList { get; set; }
    public OMDBResult movieTitles { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //string title = "shawshank";
            //movieTitles = await movieService.IndexMovie(title);

            string title = "shaw";
            moviesList = await movieService.GetPosterForMovie(title);
            // Use the movie data as needed
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}