#MoviesTitleIndex {
    text-align: center;
}

.poster-container {
    position: relative;
    margin-bottom: 15px;
}
.poster-image {
    width: 80%;
    height: 450px;
}

.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff;
    font-size: 14px;
}

.movie-title {
    font-weight: bold;
    font-size: 16px;
}

.movie-details {
    margin-top: 5px;
}

@media (min-width: 576px) {
    .poster-container {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .movie-info {
        padding: 15px;
        font-size: 16px;
    }

    .movie-title {
        font-size: 18px;
    }
}

.btn {
    /*background-color: DodgerBlue;*/
    background-image: linear-gradient(to right, rgb(0, 191, 255) 0%, #3a0647 70%);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left:130px;
}

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

