@page "/login"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavgMan
@inject IUserService _serviceUser;
@using System.Net.Http;
@using SEP6.Authentication;
@using SEP6.Data;


<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .bottom-row {
        margin-top: auto;
    }

    .spacer {
        flex: 1;
    }

    h3 {
        text-align: center;
    }
</style>


<h3>Movies4U</h3>

<div class="container">
    <div class="image-container">
        <img src="img/movie_system_logo.jpg" alt="Movies 4 U" />
    </div>

    <div class="form-group px-4">
        <label for="name">Name:</label>
        <input id="name" class="form-control" @bind="@name" />
    </div>

    <div class="form-group px-4">
        <label for="id">Password:</label>
        <input type="password" id="myInput" class="form-control"  @bind="@password" />
    </div>

    <div class="bottom-row px-4">
        <div class="spacer"></div> <!-- Spacer to push the login button below -->
        <AuthorizeView>
            <NotAuthorized>
                <button class="btn btn-primary px-4 m-4" @onclick="Login">Login</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
<p>@errorMessage</p>

@code {
    private string? name;
    private int password;
    private string? errorMessage;


    private async Task Login()
    {
        try
        {
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).ValidateLogin(name, password);
            Console.WriteLine("Entering Login method");
            NavgMan.NavigateTo("/index");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            errorMessage = e.Message;
        }
    }
  

}