@page "/searchresults"
@using SEP6.Data;
@using SEP6.Models;
@using SEP6.Pages.Components
@inject IMovieService movieService;
@inject NavigationManager navigation;

<h3>Search results</h3>

@if (moviesList != null)
{
    @foreach (var movie in moviesList)
    {
        <div class="container">
            <div class="row">
                <div id="posters" class="col-md-4">
                    <table class="table">
                        <div>
                            <tr>
                                <th style="margin-right: 0;" class="card-text">@movie.Id</th>
                                <th> - </th>
                                <th class="card-text">@movie.title</th>
                            <th style="margin-right: 0;" class="card-text">@movie.year</th>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    }

}
@code {

    [Parameter]
    //public string searchedMovie { get; set; }
    public List<Movies> movies { get; set; }
    public List<Movies> moviesList {get; set;}


    protected override async Task OnInitializedAsync()
    {
            try
            {
                string searchedMovie = "lat";
                moviesList = await movieService.IndexMovie(searchedMovie);

                Console.WriteLine("GOING THROUGH THE GOD DAMN METHOD");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error: {ex.Message}");
            }
        }   
}
