@page "/searchresults"
@using Newtonsoft.Json;
@using SEP6.Data;
@using SEP6.Models;
@using SEP6.Pages.Components
@inject IMovieService movieService;
@inject NavigationManager navigation;

<h3>Search results</h3>

@if (moviesList != null)
{
    @foreach (var movie in moviesList)
    {
        <div class="container">
            <div class="row">
                <div id="posters" class="col-md-4">
                    <table class="table">
                        <div>
                            <tr>
                                <th style="margin-right: 0;" class="card-text">@movie.Id</th>
                                <th> - </th>
                                <th class="card-text">@movie.title</th>
                            <th style="margin-right: 0;" class="card-text">@movie.year</th>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    }

}
@code {

    [Parameter]
    public string searchedMovie { get; set; }
    public List<Movies> movies { get; set; }
    public List<Movies> moviesList { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(navigation.Uri);
        var moviesJson = System.Web.HttpUtility.ParseQueryString(uri.Query).Get("movies");
        moviesList = JsonConvert.DeserializeObject<List<Movies>>(moviesJson);
        
    }   
}
